.padding-voss {padding-left: 30rem;padding-right: 30rem;padding-top: 5rem;padding-bottom: 5rem;}
.h-nih-voss {text-align: center;}
.padding-bawah {padding-bottom: 3rem;}
.padding-atas {padding-top: 0;}
.teks-ganti {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
html body{background-image: linear-gradient(to right, #25274D,#FFF8DC, #FF8C00);}
.tombol-kolor {background-image: linear-gradient(to left, #005C97, #363795);}
.font-kolor-apaaja {color: #114357;}
.kotak-anj {max-width: 390px;background: #fff;padding:30px;border-radius: 5px;}